/wp-content/uploads
/wp-content/themes/node_modules
/wp-content/backups-dup-pro
/wp-content/ai1wm-backups
wp-config.php
.htaccess
license.txt
readme.html
huongdan.zip
/wp-content/backups
/wp-content/nfwlog
/wp-content/themes/**/node_modules